@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@layer base{
  html{
    font-family: "Work Sans", "sans-serif";
  }
  body{
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@theme {
  --color-primary: #2B85FF;
  --color-secondary: #EF863E;
  --color-border: #d1d5db;
}
@layer components{
  .input-box{
    @apply w-full text-sm bg-transparent border-[1.5px] border-border px-5 py-3 rounded mb-4 outline-none;
  }
  .input-box:focus {
  @apply border-black shadow-sm;
  }

  .btn-primary{
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600;
  }
}
