@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base{
  html{
    font-family: "Work Sans", "sans-serif";
  }
  body{
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components{
  
}